/*--------------------------------
    Alignment
--------------------------------*/
.align-left {
    margin-right: auto;
}
.align-right {
    margin-left: auto;
}
.align-center {
    display: block;
    float: none;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

/*--------------------------------
    Main Layout
--------------------------------*/
.tkr-app {
    padding-top: 60px;
    
    @include lg {
        padding-top: 72px;
    }
}

.tkr-main-content  {
    padding: 20px 0;
    background: $light-grey;
    
    &:before, &:after {
        content: " ";
        display: table;
    }
}

.tkr-container, .tkr-container-fluid {
    display: flex;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
.tkr-container-fluid {
    max-width: 100%;
}
.tkr-row {
    display: flex;
    width: 100%;
    margin-right: -10px;
    margin-left: -10px;
}
.tkr-col-25,
.tkr-col-33,
.tkr-col-50,
.tkr-col-66,
.tkr-col-75 {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
.tkr-col-25 {
    width: 25%;
}
.tkr-col-33 {
    width: 33.3333%;
}
.tkr-col-50 {
    width: 50%;
}
.tkr-col-66 {
    width: 66.6666%;
}
.tkr-col-75 {
    width: 75%;
}