/*
 This theme follows a new web.
 Use it to make something cool, have fun, and share what you've learned with others.
*/

html {
    position: relative;
    width: 100%;
    height: auto;

    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    /* Spacing */
    letter-spacing: 0.02em;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    background: #f6f7f9;
    color: #212223;

    font-family: sans-serif;
    line-height: normal;
    font-size: 16px;
    font-weight: normal;
    word-wrap: break-word;
    white-space: normal;
    overflow-x: auto;
    overflow-y: auto;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
h1 { font-size: 2.4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.4rem; }

p {
    font-size: 100%;
    line-height: 1.4rem;
    color: #484b4d;
}


/* Media */
img {
    max-width: 100%;
    height: auto;
}


/* Button */
.tk-btn {
    display: inline-block;
    position: relative;
    width: auto;
    height: 70px;
    padding: 1px 17px 0;
    background: #FFF;
    color: #484b4d;
    border-radius: 4px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}


/* Layout */



/* Page Top Nav */
.tk-top-nav {
    position: fixed;
    width: 100%;
    height: auto;
    background: transparent;
    color: #FFF;
    z-index: 9000;
    transition: background 0.14s ease,
                box-shadow 0.14s ease;
}
.tk-top-nav.scrolled {
    box-shadow: 0 2px 34px -4px rgba(0,0,0,0.34);
}
.tk-top-nav.scrolled {
    background: #FFF;
    color: #36454f;
}
.tk-top-nav ul {
    margin: 0;
    padding: 0;
}
.tk-top-nav li {
    display: inline-block;
    list-style: none;
}
.tk-top-nav .tk-btn {
    height: 60px;
    background: transparent;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    color: inherit;
    line-height: 60px;
}
.tk-top-nav .tk-btn.active {
    border-bottom-color: #FFF;
}
.tk-top-nav.scrolled .tk-btn.active {
    border-bottom-color: #36454f;
}

/* Page Styles */
.tk-site-wrap {
    position: relative;
    float: left;
    min-height: 100%;
    width: 100%;
    height: auto;
}
.tk-content .container {
    padding-top: 60px;
}

/* Splash */
.tk-splash {
    position: relative;
    width: 100%;
    height: auto;
    background: #e4d555;
    background: #c4ce6b;
    background: #a7ce6b;
    color: #fff;
    text-align: center;
    padding: 20vh 0 15vh;
}
.tk-splash h1 {
    position: relative;
    margin: 0;
    font-size: 4rem;
    z-index: 1000;
}
.tk-splash p {
    position: relative;
    margin-bottom: 50px;
    font-size: 19px;
    color: inherit;
    z-index: 1000;
}
.tk-splash .tk-btn {
    position: relative;
    min-width: 180px;
    box-shadow: 0 2px 21px -6px rgba(0,0,0,0.3);
}


/* Page Title  */
.tk-title-underline {
    display: block;
    width: 120px;
    height: 3px;
    background: #a7ce6b;
    margin-bottom: 40px;
}
.tk-hot + .tk-container .tk-title-underline {
    display: block;
    width: 120px;
    height: 3px;
    background: #e05151;
    margin-bottom: 40px;
}


/* Media Queries */
@media (min-width: 992px) {
    .tk-splash h1 {
        font-size: 5rem;
    }
}


/* Footer */
.tk-footer {
    margin-top: 60px;
    padding: 20vh 0;
}
.tk-footer h1 {
    font-size: 3.4rem;
    opacity: 0.14;
}


/* Extras */
.nopad {
    padding: 0;
}
.tk-hot {
    background: #e05151;
}
.tk-dark {
    background: #212223;
}
